<ion-content>
    <div ng-hide="showMenu" class="col-10 responsive-sm responsive-md sideMenu adjustSideMenu">
        <div class=" cursorPointer" ng-click="toggleLeftSideMenu()">
            <button class="button button-icon icon ion-drag button-block light"></button>
        </div>
        <hr class="hrDivider" />

        <button class="button button-icon icon ion-plus-round button-block light" ng-click="newMap()"></button>
    </div>
    <ion-scroll direction="y">
        <div class="view-container has-header">
            <div class="row">
                <div ng-hide="showMenu" class="col-10 responsive-sm responsive-md">
                    <!--empty area to keep the menu space-->
                </div>
                <div class="col padding">
                    <div class="pageHeader padding-horizontal row row-bottom">
                        <div class="col-25">
                            <h1>All</h1>
                        </div>

                        <div class="col-75 padding-horizontal">
                            <form ng-submit="search()">
                                <label class="item-input padding-horizontal">
                                    <input type="text" class="text-right txtSearch" placeholder="Type to filter">
                                </label>
                            </form>
                            
                        </div>
                    </div>

                    <div class="row text-center row-baseline">
                        <div class="col col-25">
                            <div class=" text-center">
                                <div>
                                    <img src="images/map1.png" class="dvNoteImg padding full-image row-stretch" />
                                </div>
                                <div class="dvNoteName padding-left">
                                    <span class="padding-left">Note 1</span>
                                </div>
                            </div>
                        </div>

                        <div class="col col-25">
                            <div class=" text-center">
                                <div><img src="images/map2.png" class="dvNoteImg padding full-image row-stretch" /></div>
                                <div class="dvNoteName padding-left">
                                    <span class="padding-left">My Note About Note template 1</span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-25">
                            <div class=" text-center">
                                <div><img src="images/map3.png" class="dvNoteImg padding full-image row-stretch" /></div>
                                <div class="dvNoteName padding-left">
                                    <span class="padding-left">My Note About Note template 2</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </ion-scroll>
</ion-content>
