<div class="loginPage">
    <ion-content class="loginBackground has-footer">
        <ion-scroll direction="y">
            <div class="view-container responsive-sm responsive-md">
                <div class="col-80">
                    <div class="col-50 colordDv responsive-sm responsive-md">
                        <div class="padding">
                            <h1 class="padding">Note miners</h1>
                            <h2 class="padding">Display your One Note Thoughts as a simple and clean mind maps in one CLICK</h2>
                            <div class="padding">
                                <button ng-click="login()" class="button icon-left ion-social-windows button-block button-positive text-left"><span class="padding">Sign in with Microsoft</span></button>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-10"></div>
            </div>
        </ion-scroll>
    </ion-content>

    <ion-footer-bar class=" loginfooter">
        <div class="col text-right padding-horizontal">
            <a href="#">Home</a>&nbsp;|&nbsp;<a href="#">About</a>&nbsp;|&nbsp;<a href="#">Contact us</a>
        </div>
    </ion-footer-bar>
</div>

