<div ng-hide="showMenu" class="col-10 responsive-sm responsive-md sideMenu adjustSideMenu">
    <div class="cursorPointer" ng-click="toggleLeftSideMenu()">
        <button class="button button-icon icon ion-drag button-block light"></button>
    </div>
    <hr class="hrDivider" />

    <button class="button button-icon icon ion-plus-round button-block light" ng-click="newMap()"></button>
</div>
<div class="bar bar-header bar-calm item-input-inset">

    <div class="row row-center">
        <div class="col-offset-10 "></div>
        <!--<div class="col">
            <button ng-click="showAddNoteModal()" class="button icon ion-document-text button-stable"></button>
        </div>-->
        <div class="col">
            <button ng-click="showSaveCurrentNoteModal()" class="button ion-checkmark-round button-light"></button>
        </div>
        <div class="row row-center">
            <div class="col-66 padding-horizontal">
                <label class="item-input-wrapper">
                    <input type="search" placeholder="Search" class="txtSearch" ng-model="keyword">
                </label>
            </div>

            <div class="col-33">
                <button ng-click="search()" class="button icon-right ion-search button-light text-left"><span class="dvExtraOffset">Search</span></button>
            </div>
        </div>

    </div>

</div>
<ion-content class="has-header ">

    <ion-scroll direction="y">
        <div class="view-container">
            <div class="row row-top">
                <div ng-hide="showMenu" class="col-10 responsive-sm responsive-md">
                    <!--empty area to keep the menu space-->
                </div>
                <!--page content-->
                <div class="col">
                    <div id="graphDiv" style="min-height:800px">
                    </div>
                </div>
            </div>
        </div>

    </ion-scroll>


</ion-content>


<script id="addNote.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Create a note</h1>
        </ion-header-bar>
        <ion-content>
            <div class="view-container padding">
                <div class="list ">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Note Content</span>
                        <textarea rows="5" id="newNoteTxt"></textarea>
                    </label>
                </div>
            </div>
        </ion-content>
        <div class="bar bar-footer item-input-inset bar-stable">
            <div class="col text-right">
                <button ng-click="cancelNewNote()" class="button button-stable button-large ">
                    <span>Cancel</span>
                </button>
                <button ng-click="saveNewNote()" class="button button-positive button-large">
                    <span>Create</span>
                </button>
            </div>
        </div>
    </ion-modal-view>
</script>

<script id="confirmSave.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Save this map</h1>
        </ion-header-bar>
        <ion-content>
            <div class="view-container padding">
                <div class="list ">


                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Title</span>
                        <input type="text">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Description</span>
                        <textarea rows="5"></textarea>
                    </label>


                </div>
            </div>

        </ion-content>
        <div class="bar bar-footer item-input-inset bar-stable">
            <div class="col text-right">
                <button ng-click="cancelSaveNote()" class="button button-stable button-large ">
                    <span>Cancel</span>
                </button>
                <button ng-click="saveCurrentNote()" class="button button-positive button-large">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </ion-modal-view>
</script>
<script id="NoteView.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">{{NoteTitle}}</h1>
        </ion-header-bar>
        <ion-content style="padding:10px;" ng-bind-html="NoteBody">

        </ion-content>
        <div class="bar bar-footer item-input-inset bar-stable">
            <div class="col text-right">
                <button ng-click="cancelNewNote()" class="button button-positive button-block">
                    <span>Ok</span>
                </button>
            </div>
        </div>
    </ion-modal-view>
</script>
<script id="searchModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Re-build</h1>
        </ion-header-bar>
        <ion-content>
            <div class="view-container padding">
                <div class="list ">
                    <label class="item item-input item-borderless">
                        <span class="h3 txtSearchconfirmation">Do you want to discard current map and build new one?</span>
                    </label>
                </div>
            </div>
        </ion-content>
        <div class="bar bar-footer item-input-inset bar-stable">
            <div class="col text-right">
                <button ng-click="cancelSearch()" class="button button-stable button-large ">
                    <span>Cancel</span>
                </button>
                <button ng-click="search()" class="button button-positive button-large">
                    <span>Search</span>
                </button>
            </div>
        </div>
    </ion-modal-view>
</script>